.bg-blue {
  background-color: #5443f11b!important;
}

.border-purple {
  border: 2px solid #851ff8!important;
}

.text-purple {
  color: #851ff8!important;
}

.btn:hover {
  background-color: #5443f15f!important;
  border-color:  #6a17c8!important;
  color: #6a17c8!important;
}

.form-control:focus, select:focus, input:focus{
  color: #081a7a !important;
  border-color: #e1bee7b8 !important;
  box-shadow: 0 0 0 0.25rem #9575cde8 !important;
}

.header-logo {
  width: 80%;
}

@media (min-width: 768px) {
    .header-logo {
        width: 60%;
    }
    
    .header-perfil {
      width: 70%;
    }
}

@media (min-width: 992px) {
  .header-logo {
      width: 40%;
  }

  .header-perfil {
    width: 40%;
  }
}

.reportDetails {
  border: 2px solid #851ff8 !important;
  border-radius: 8px !important;
  margin-bottom: 1em!important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)!important;
}

.reportCard {
  border: 2px solid #5343f1!important;
  border-radius: 10px!important;
  margin-bottom: 1em!important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)!important;
}

.bottomBorder {
  border-bottom: 2px solid #851ff8 !important;
}

.topBorder {
  border-top: 2px solid #851ff8 !important;
}

.darkBlueText {
  color: #5343f1 !important;
}

.darkBlueText:hover {
  color: #851ff8 !important;
}

.bgBlue {
  background-color: #eae7ff6e!important;
}

.bgGreen {
  background-color: #c6fcc97c;
}

.hGreen {
  background-color: #59de60dc;
}

.bgYellow {
  background-color: #f9fcc672;
}

.hYellow {
  background-color: #f6ff71;
}

.bgRed {
  background-color: #fccfc672;
}

.hRed {
  background-color: #ff8471;
}


.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: spin 1.2s
    linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.loader::before {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(10deg,
      #ad0feb 20%,
      #841ff8 40%,
      #5443f1 60%,
      #0f7cf1 80%,
      #4374f1 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::after {
  width: 85%;
  height: 85%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}